# Node modules
node_modules/

# Environment variables (비밀번호, DB 주소 등)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# MacOS / VSCode 관련 불필요 파일
.DS_Store
.vscode/